{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
 <div class="form-group">
    {{ form.animalType.label(class="form-select-label") }}
     {% if form.animalType.errors %}
       {{ form.animalType(class="form-select form-select-lg is-invalid") }}
       <div class="invalid-feedback">
         {% for error in form.animalType.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.animalType(class="form-select form-select-lg") }}
   {% endif %}
 </div>
 <div class="form-group">
    {{ form.state.label(class="form-select-label") }}
     {% if form.state.errors %}
       {{ form.state(class="form-select form-select-lg is-invalid") }}
       <div class="invalid-feedback">
         {% for error in form.state.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.state(class="form-select form-select-lg") }}
   {% endif %}
 </div>
 <div class="form-group">
     {{ form.kids.label(class="form-check-label") }}
     {% if form.kids.errors %}
       {{ form.kids(class="form-check form-check-lg is-invalid") }}
       <div class="invalid-feedback">
         {% for error in form.kids.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.kids(class="form-check form-check-lg") }}
   {% endif %}
 </div>
 <div class="form-group">
     {{ form.dogs.label(class="form-check-label") }}
     {% if form.dogs.errors %}
       {{ form.dogs(class="form-check form-check-lg is-invalid") }}
       <div class="invalid-feedback">
         {% for error in form.dogs.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.dogs(class="form-check form-check-lg") }}
   {% endif %}
 </div>
 <div class="form-group">
     {{ form.cats.label(class="form-check-label") }}
     {% if form.cats.errors %}
       {{ form.cats(class="form-check form-check-lg is-invalid") }}
       <div class="invalid-feedback">
         {% for error in form.cats.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.cats(class="form-check form-check-lg") }}
   {% endif %}
 </div>
</fieldset>
 <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
  </div>
         </form>
     </div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
       <div class="alert alert-{{ category }}">
         {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock content %}