{% extends "layout.html" %}
{% block content %}
    <h2>{{ subtitle }}</h2>
    <p>{{ text }}</p>
    {%for key in data%}
        <div class="organization-card">
            <h3>{{data[key]['Name']}}</h3>
            <img src={{data[key]['Photo']}} alt='Animal Profile' class='card-img'>
            <p>Breed: {{data[key]['Breed']}} </p>
            <p>Age: {{data[key]['Age']}} </p>
            <p>Size: {{data[key]['Size']}} </p>
            <a href= {{data[key]['Link']}} target="_blank">Click Here for more Info</a>
          </div>
    {%endfor%}
  
{% endblock content %}
