{% extends "layout.html" %}
{% block content %}
    <div class='content-section'>
        <h1>Welcome to Wonderful Rescues!</h1>
        <p>Here you will be able to look for pets to adopt as well as look up any animal rescue organizations in your area</p>
        <p>Courtsey of Petco</p>
        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/ieHv-6UUftc" 
        title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </div>
{% endblock content %}

